import libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
import re
import joblib
import string

In [2]:
import pandas as pd

fake = pd.read_csv('../data/Fake.csv',)
true = pd.read_csv('../data/True.csv',)

In [3]:
fake['class']=0
true['class']=1

In [4]:
import os
print("Current working directory:", os.getcwd())

Current working directory: D:\fakeNewsDetection\FakeNews\backend\detection\model

In [5]:
fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [6]:
true.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [7]:
import pandas as pd

df = pd.read_csv("../data/True.csv")

# Combine 'title' and 'text' columns, handling missing values
paragraphs = (df["title"].fillna('') + ". " + df["text"].fillna('')).tolist()

# Join all paragraphs into one big string
full_paragraph = " ".join(paragraphs)

# Write the combined text to a file
with open("real_news_paragraph.txt", "w", encoding="utf-8") as f:
    f.write(full_paragraph)

In [8]:
paragraphs = (df["title"].fillna('') + "." + df["text"].fillna('')).tolist()

In [9]:
full_paragraph = " ".join(paragraphs)

In [10]:
with open("real_news_paragraph.txt", "w", encoding= "utf-8") as f:f.write(full_paragraph)

In [11]:
data = pd.concat([fake,true], axis = 0)

In [12]:
data.sample(10)

,title,text,subject,date,class
9270,BREAKING NEWS: Leftist Media Publishes Major F...,How many times in one week can ABC News publis...,politics,"Dec 5, 2017",0
5140,Trump Fanboy Newt Gingrich Turns Traitor On H...,Every presidential candidate s economic plan h...,News,"August 8, 2016",0
16431,Islamist militants 'taken out of action' in Ma...,PARIS (Reuters) - The French military has targ...,worldnews,"October 26, 2017",1
12561,MULTIPLE FBI OFFICES Investigated Clinton Foun...,"A stunning story of corruption, cronyism and c...",politics,"Oct 30, 2016",0
16381,Italian Senate approves electoral law; likely ...,ROME (Reuters) - Italy s upper house Senate ap...,worldnews,"October 26, 2017",1
1647,Trump campaign manager Manafort offered to bri...,"WASHINGTON (Reuters) - Paul Manafort, Presiden...",politicsNews,"September 20, 2017",1
1613,What's a 'dotard' anyway? Kim's insult to Trump,(Reuters) - North Korean leader Kim Jong Un ha...,politicsNews,"September 22, 2017",1
14086,Kuwait's emir leaves hospital after successful...,DUBAI (Reuters) - Kuwait s Emir Sheikh Sabah A...,worldnews,"November 23, 2017",1
2732,Trump’s Muslim Ban Protects America By Separa...,To protect America from terrorist threats that...,News,"February 1, 2017",0
4559,Lockheed Martin wins $1.6 billion U.S. defense...,WASHINGTON (Reuters) - Lockheed Martin Corp wa...,politicsNews,"March 31, 2017",1

In [13]:
data = data.drop(["title","subject","date"], axis = 1)

data.reset_index(inplace=True)

In [14]:
print(data.columns)

Index(['text', 'class'], dtype='object')

In [15]:
data.sample(5)

                                                    text  class
583    Donald Trump has now taken his threats to Nort...      0
17531  DUBAI (Reuters) - Saudi Arabia welcomed  the r...      1
15288  America s next president could be eased into o...      0
1222   WASHINGTON (Reuters) - U.S. Secretary of State...      1
19675  For all the hate Democrats openly express for ...      0

In [16]:
def clean_text(text):
    if not isinstance(text, str):
        return ''
    text = text.lower()
    text = re.sub(r'\[.*?\]', '', text)
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    text = re.sub(r'<.*?>+', '', text)
    text = re.sub(r'[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub(r'\n', ' ', text)
    text = re.sub(r'\w*\d\w*', '', text)
    text = re.sub(r'\W+', ' ', text)
    return text.strip()

In [17]:
data = pd.read_csv('../data/True.csv')  # Use your real file path here
data["text"] = data["text"].apply(clean_text)

In [18]:
print(data.columns)

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [19]:
true['label']=1
fake['label']=0

In [20]:
vectorizer = TfidfVectorizer()
xv_train = vectorizer.fit_transform(xtrain)
xv_test = vectorizer.transform(xtest)

NameError: name 'xtrain' is not defined

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(xv_train, ytrain)

In [ ]:
whos

In [ ]:
prediction = lr.predict(xv_test)
print(lr.score(xv_test,ytest))

In [ ]:
print(classification_report(ytest,prediction))

In [ ]:
joblib.dump(vectorizer,"vectorizer.jb")
joblib.dump(lr,"lr_model.jb")

In [ ]:
pip install newspaper3k

In [ ]:
!pip install newspaper3k

In [ ]:
from newspaper import Article

In [ ]:
# import joblib

# model = joblib.load("lr_model.jb")  # or whatever filename you saved it as
# from sklearn.metrics import accuracy_score, classification_report

# X_test_vectorized = vectorizer.transform(X_test)
# y_pred = model.predict(X_test_vectorized)

# print(classification_report(y_test, y_pred))

In [ ]:
print("--- Dataset Shapes ---")
print(f"Original DataFrame shape: {data.shape}")  # or df.shape if you want
print(f"xtrain shape: {xtrain.shape}")
print(f"ytrain shape: {ytrain.shape}")
print(f"xtest shape: {xtest.shape}")
print(f"ytest shape: {ytest.shape}")

# Verify sizes sum correctly
assert (xtrain.shape[0] + xtest.shape[0]) == data.shape[0]
assert (ytrain.shape[0] + ytest.shape[0]) == data.shape[0]
print("Shape check passed!")